$blue: red;
$width: 100%;
$pad:3rem;
@mixin large-text {
    font: {
      family: Arial;
      size: 20px;
      weight: bold;
    }
    color: #3700ff;
  }
body{
    width:$width;
}
.jumbotron{
padding:$pad;
}
.form-row {
    width: $width;
    padding: $pad;
}
  .card-title{
      @include large-text;
  }
  .card-group{
      padding: 1rem 3rem;
      .card{
          padding: 1rem;
      }
  } 